@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root{
    /* primary */
    --cyan: hsl(179, 62%, 43%);
    --dark-cyan: hsl(179, 62%, 40%);
    --bright-yellow: hsl(71, 73%, 54%);
    --white: hsl(0, 0%, 100%);

    /* neutral */
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--light-gray);
    font-family: 'Karla', arial;
}

.container{
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.211);
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    margin: 5% auto;
}

article{
    padding: 1.5em;
}


h1,
h2{
    margin: 1em 0;
}

.desc{
    margin: 1em 0;
    line-height: 25px;
}


.community{
    background-color: var(--white);
}

h1{
    color: var(--cyan);
}

.sub-title{
    margin: 1em 0;
    font-size: 20px;
    font-weight: 700;
    color: var(--bright-yellow);
}

.community-desc{
    color: var(--grayish-blue);
}

.subscription{
    background-color: var(--dark-cyan);
}

h2,
.subscription-desc,
.about-desc{
    color: var(--white);
}

.flex{
    display: flex;
    gap: 5px;
}

.price{
    font-size: 25px;
    font-weight: 700;
    color: var(--white);
}

.month{
    margin: 0.3em;
    opacity: 0.5;
    color: var(--light-gray);
}

.sign-up-cta{
    position: relative;
    z-index: 1;

    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: var(--bright-yellow);
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.211);
    border-radius: 5px;
    overflow: hidden;
    padding: 1em;

    color: white;
    font-family: 'Karla', arial;
}

.sign-up-cta:hover{
    color: var(--dark-cyan);
}

.sign-up-cta::before{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    content: '';
    width: 0%;
    height: 100%;
    background-color: var(--white);
}

.sign-up-cta:hover::before{
    width: 100%;
    transition: 0.6s ease-in-out;
}

.about{
    background-color: var(--cyan);
}

@media (min-width: 700px){
    body{
        min-height: 100vh;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container{
        display: grid;
        width: 760px;
        grid-template-columns: repeat(2, 380px);
        margin: 0;
    }

    .community{
        grid-column: 1/3;
    }

    .subscription{
        grid-column: 1/1;
    }

    .about{
        grid-column: 2/3;
    }
}